{% extends "base.html" %}

{% block title %}
About - Website Afgan Lovers
{% endblock title %}

{% block content %}

<!-- <!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Afgan Lovers</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<div class="afgan-bg">

    <body>
        <header>
            <a href="{% url 'main:show_home' %}">
                <h3>Website Afgan Lovers</h3>
            </a>
            <nav>
                <a href="{% url 'main:show_home' %}"> Home</a>
                <a href="{% url 'main:show_about' %}"> About</a>
                <a href="{% url 'main:show_collection' %}"> Collection </a>
            </nav>
        </header> -->

<main>
    <div class="collection">
        <h1>HASIL KARYA-KARYA AGAN</h1>
        <div class="collection-agan">
            <img class="foto-imut" src="/static/img/afgan-imutz.jpeg" alt="imut kali">
            <div class="collection-text">
                <div class="card-afgan">
                    <p>Afgan menggelar “Retrospektif: The Concert” di JCC Jakarta pada 18 Juli 2026 untuk merayakan
                        sekitar 18
                        tahun perjalanan musiknya.</p>
                </div>

                <div class="card-afgan">
                    <p>Ia membawakan 30 lagu dengan aransemen baru bersama Erwin Gutawa Orchestra.</p>
                </div>

                <div class="card-afgan">
                    <p>Konser tersebut menceritakan perjalanan karier Afgan dari masa debut hingga perkembangan
                        musiknya.
                    </p>
                </div>
                <div class="card-afgan">
                    <p>Beberapa lagu yang dibawakan antara lain “Terima Kasih Cinta”, “Sadis”, “Bukan Cinta Biasa”,
                        dan
                        “Jodoh Pasti Bertemu”.</p>
                </div>

                <div class="card-afgan">
                    <p>Sebelum konser, Afgan sempat mengalami kehilangan suara dan harus menjalani perawatan, tetapi
                        akhirnya dapat tampil.</p>
                </div>

                <div class="card-afgan">
                    <p>Konser juga menghadirkan kolaborasi dengan Petra Sihombing, Mahalini, Kris Dayanti, dan Erwin
                        Gutawa Orchestra.</p>
                </div>
            </div>
        </div>

    </div>

    <section class="Video">
        <div class="vid-agan">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ShbqYtaIl58"
                title="Afgan - pendam | Official Music Video" frameborder="0"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/uWC8Ybod2uY"
                title="Afgan - Kepastian | Official Music Video" frameborder="0"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/expEV7aUUbs"
                title="Afgan - Tak Ada Rencana (Kujatuh Cinta) | Official Music Video" frameborder="0"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/N14rmI7didg" title="Lagu Afgan"
                frameborder="0" referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>


        </div>
    </section>


</main>
</body>


<!-- </html> -->
{% endblock content %}